VITE_GOOGLE_CLIENT_ID=1071276603590-jmlg5ebjckjdd3qh1b15ga284qecgj96.apps.googleusercontent.com

VITE_SUPABASE_URL=https://lslwjxuhxnevntvjhyrd.supabase.co
VITE_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImxzbHdqeHVoeG5ldm50dmpoeXJkIiwicm9sZSI6ImFub24iLCJpYXQiOjE3ODE4NjI3NzAsImV4cCI6MjA5NzQzODc3MH0.cV0I5erBW_kA4gN2e-pN1-i-0OG6Co8dA7gNjkuGl9Y